@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Verdana, sans-serif;
  margin: auto;
  padding: 10px;
  max-width: 65ch;
  background-color: #fff;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.7;
  color: #444;
}

main {
  text-align: center;
  margin-top: 20%;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #fff;
  }
  .black {
    display: block;
  }
  .light {
    display: none;
  }
}
/* Light Mode */
@media (prefers-color-scheme: light) {
  body {
    background-color: #fff;
    color: #444;
  }
  .black {
    display: none;
  }
  .light {
    display: block;
  }
}
