<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oops! This page is not available</title>
  </head>
  <body>
    <h1>Oops! This page is not available</h1>
    <p>
      The link you followed may be broken, or the page may have been removed.
    </p>
    <a href="/">- Home Page -</a>
    <a href="https://github.com/aThebigbot/website/issues">- Issues Center -</a>
    <style>
      body {
        background-color: #fff;
        margin: 40px;
        font-family: Lucida Grande, Verdana, Sans-serif;
        font-size: 12px;
        color: #000;
        font-family: Verdana, sans-serif;
        margin: auto;
        padding: 20px;
        max-width: 65ch;
        text-align: center;
        background-color: #fff;
        word-wrap: break-word;
        overflow-wrap: break-word;
        line-height: 1.5;
        color: #444;
      }

      h1 {
        color: #990000;
        font-size: 1.5em;
        font-weight: bold;
      }

      p {
        margin: 0 0 1em;
        font-size: 1.2em;
      }

      a {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 3px;
        color: #333;
        cursor: pointer;
        display: inline-block;
        font-size: 1em;
        font-weight: bold;
        line-height: 1.5;
        margin: 0;
        padding: 0.5em 1em;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        white-space: nowrap;
      }

      a:hover {
        background-color: #f5f5f5;
        border-color: #999;
        color: #000;
      }
    </style>
  </body>
</html>
