<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thebigbot</title>
  </head>
  <body>
    <h1>Ops! Something went wrong</h1>
    <p>Sorry, but something went wrong. Please try again later.</p>

    <style>
      body {
        font-family: Verdana, sans-serif;
        margin: auto;
        padding: 10px;
        max-width: 65ch;
        text-align: center;
        background-color: #fff;
        word-wrap: break-word;
        overflow-wrap: break-word;
        line-height: 1.7;
        color: #444;
      }
      h1 {
        font-size: 2em;
        margin: 0;
        padding: 0;
      }
      p {
        margin: 0;
        padding: 0;
      }

      @media (prefers-color-scheme: dark) {
        body {
          background-color: #121212;
          color: #fff;
        }
      }

      @media (prefers-color-scheme: light) {
        body {
          background-color: #fff;
          color: #444;
        }
      }
    </style>
  </body>
</html>
