---
import PageSlider from "../components/PageSlider.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thebigbot</title>
  </head>
  <body>
    <div>
      <!-- Introduction -->
      <h1>👾 Hi, I'm Thebigbot</h1>
      <PageSlider />
      <!-- About me -->
      <p>
        Hi! My name is Valerio, but on internet everyone calls me thebigbot. I
        love coding app, website, cli and more stuff. I know a lot of
        programming language, but my favorite is JavaScript. I'm also a big fan
        of Linux and Open Source. Now i lerning Rust and i'm working on lot of
        project.
      </p>
      <br />
      <!-- Skills -->
      <h2>👨‍💻 Skills</h2>
      <div>
        - <bold>JavaScript</bold> (Node.js, React, Vue, Electron, Express, Next.js,
        Nuxt.js, Svelte, Deno, etc.)<br />
        - <bold>Python</bold> (I use this for useful scripts)<br />
        - <bold>Rust</bold> (I'm learning this language)<br />
        - <bold>Go</bold> (I'm learning this language)<br />
        - <bold>HTML</bold> (I know the tag)<br />
        - <bold>CSS</bold> (I know the property)<br />
      </div>
      <br />
      <!-- Languages -->
      <h2>👅 Languages</h2>
      <div>
        - 🇮🇪 <bold>Italian</bold> (Native)<br />
        - 🇺🇸 <bold>English</bold> (A2)<br />
        - 🇪🇸 <bold>Spanish</bold> (I studied this language at elementary school)<br
        />
        - 🇫🇷 <bold>French</bold> (I studied this language at school)<br />
      </div>
      <br />
      <!-- Contact -->
      <h2>📫 Contact</h2>
      <div>
        - <a href="https://github.com/aThebigbot">GitHub</a><br />
        - <a href="https://discord.com/users/703226153678405633">Discord</a>
      </div>
      <footer>
        <p>
          <small>
            Made with ❤️ by Thebigbot using Astro
          </small>
        </p>
      </footer>
    </div>




    <style>
      /* Global */
      body {
        font-family: Verdana, sans-serif;
        margin: auto;
        padding: 10px;
        max-width: 65ch;
        text-align: left;
        background-color: #fff;
        word-wrap: break-word;
        overflow-wrap: break-word;
        line-height: 1.7;
        color: #444;
      }

      h1 {
        font-size: 2.5rem;
        icon-size: 2.5rem;
        line-height: 1;
      }

      bold {
        font-weight: bold;
      }

      a {
        background-color: #fff;
        border: none;
        color: #444;
        padding: 10px 20px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        font-size: 1rem;
      }

      a:hover {
        color: rgb(13, 162, 231);
      }

      div {
        line-height: 1.7rem;
      }

      footer {
        margin-top: 20px;
      }

      small {
        font-size: 0.8rem;
      }

      footer a {
        background-color: #fff;
        border: none;
        color: #444;
        padding: 10px 20px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        font-size: 0.8rem;
      }

      footer a:hover {
        color: rgb(13, 162, 231);
      }


      /* Color Adaptation */
      @media (prefers-color-scheme: dark) {
        body {
          background-color: #222;
          color: #fff;
        }

        a {
          background-color: #222;
          color: #fff;
        }

        footer a {
          background-color: #222;
          color: #fff;
        }
      }

      @media (prefers-color-scheme: light) {
        body {
          background-color: #fff;
          color: #444;
        }

        a {
          background-color: #fff;
          color: #444;
        }

        footer a {
          background-color: #fff;
          color: #444;
        }
      }

      @media (prefers-color-scheme: no-preference) {
        body {
          background-color: #fff;
          color: #444;
        }

        a {
          background-color: #fff;
          color: #444;
        }

        footer a {
          background-color: #fff;
          color: #444;
        }
      }

      /* Responsive */
      @media screen and (max-width: 600px) {
        body {
          padding: 10px;
        }

        h1 {
          font-size: 1.5rem;
        }

        div {
          line-height: 1.5rem;
        }

        footer {
          margin-top: 10px;
        }

        small {
          font-size: 0.7rem;
        }

        footer a {
          font-size: 0.7rem;
          padding: 0;
        }
      }
    </style>
  </body>
</html>
