---
import Layout from "../layouts/Layout.astro";
import Head from "../components/Head.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Valerio Clemenzi">
  <Head />

  <!-- <h1 class="font-bold mt-5 text-2xl">Hello World!</h1> -->
  <!-- about -->
  <div class="mt-8 space-y-4 text-left text-lg/9">
    <div>
      <p>
        Hello, I'm Valerio, a 14-year-old Italian boy passionate about programming. I mainly work on
        full-stack applications, using <a href="https://typescriptlang.org/" class="slink"
          >Typescript</a
        > for the front-end with various frameworks and Go for the back-end.
      </p>
    </div>
    <hr />
    <div>
      <p>
        I know a bunch of technologies and I'm learning new ones every day. For web pages, I usually
        roll with <a href="https://nextjs.org/" class="slink">Next.js</a> or <a
          href="https://kit.svelte.dev/"
          class="slink">SvelteKit</a
        >. If I'm creating more static sites, I dive into Astro (like this one). I often rely on
        Typescript for a robust type system. As for styling, I'm all about <a
          href="https://tailwindcss.com/"
          class="slink">TailwindCSS</a
        > – it makes creating awesome styles a breeze. I'm super hyped about <a
          href="https://bun.sh/"
          class="slink">Bun</a
        > for blazingly fast JavaScript code startup. Beyond the front-end, I tinker with the
        back-end using <a href="https://go.dev/" class="slink">Go</a>, coupled with some SaaS like <a
          href="https://supabase.com/"
          class="slink">Supabase</a
        > and <a href="https://pocketbase.io/" class="slink">Pocketbase</a>. I also love
        experimenting with low-level languages like <a
          href="https://www.rust-lang.org/"
          class="slink">Rust</a
        > to craft desktop apps or CLIs!
      </p>
    </div>
    <hr />
    <div class="space-y-4">
      <p>
        As an editor, I use <a href="https://neovim.io/" class="slink">Neovim</a>, which helps speed
        up my development process. With my customized setup, <a
          href="https://github.com/saturnvim/saturnvim"
          class="underline">Saturnvim</a
        >, I add numerous functionalities to Vim, further enhancing the speed of my development.
      </p>
      <p>
        I also use <a href="https://archlinux.org/" class="slink">Arch Linux</a> as my Linux distro,
        giving me maximum control over the system. My setup includes <a
          href="https://i3wm.org/"
          class="slink">i3</a
        > as my window manager, <a href="https://github.com/adi1090x/rofi" class="slink">Rofi</a> as
        the menu, and <a href="https://polybar.github.io/" class="slink">Polybar</a> as the status
        bar. Additionally, I use <a href="https://alacritty.org/" class="slink">Alacritty</a> as my
        terminal. You can find my entire setup on <a
          href="https://github.com/vclemenzi/rice"
          class="underline">Github</a
        >!
      </p>
    </div>
    <hr />
    <div>
      <p>
        I'm also a privacy enthusiast! I enjoy exploring ways to be as secure as possible on the
        web. I use alternative front-ends like Whoogle for search engines and Invidious for watching
        YouTube videos. All the instances I have are self-hosted at home on my Zimaboard, one of my
        tech world purchases. If I ever write a blog, I'll probably review it there!
      </p>
    </div>
  </div>

  <Footer />
</Layout>
