---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thebigbot</title>
  </head>
  <body>
    <main>
      <!-- Intro -->
      <img
        src="https://avatars.githubusercontent.com/u/77632836?v=4"
        alt=""
        class="img"
      />

      <h1>Hello. I'm Thebigbot!</h1>

      <button class="btn">
        <a href="https://github.com/athebigbot">
          <div class="light">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-github"
              width="44"
              height="44"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#000000"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
              ></path>
            </svg>
          </div>

          <div class="black">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-github"
              width="44"
              height="44"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#ffffff"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
              ></path>
            </svg>
          </div>
        </a>
      </button>

      <button class="btn">
        <a href="mailto:hello@thebigbot.dev">
          <div class="light">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-at"
              width="44"
              height="44"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#000000"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H02z" fill="none"></path>
              <circle cx="12" cy="12" r="4"></circle>
              <path d="M16 12v1.5a2.5 2.5 0 0 0 5 0v-1.5a9 9 0 1 0 -5.5 8.28"
              ></path>
            </svg>
          </div>

          <div class="black">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-at"
              width="44"
              height="44"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#ffffff"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <circle cx="12" cy="12" r="4"></circle>
              <path d="M16 12v1.5a2.5 2.5 0 0 0 5 0v-1.5a9 9 0 1 0 -5.5 8.28"
              ></path>
            </svg>
          </div>
        </a>
      </button>

      <hr />

      <div>
        <p>
          Hi! My real name is Valerio but on the internet I'm known as
          Thebigbot. I love to code and I'm currently learning Rust. I make cli,
          websites, apps and more! I'm also a big fan of open source and I'm
          always looking for new projects to contribute to. I use linux and i
          love changing my distro every 3 months.
        </p>
      </div>
    </main>
    <style>
      body {
        font-family: Verdana, sans-serif;
        margin: auto;
        padding: 10px;
        max-width: 65ch;
        text-align: left;
        background-color: #fff;
        word-wrap: break-word;
        overflow-wrap: break-word;
        line-height: 1.7;
        color: #444;
      }

      main {
        text-align: center;
        animation: join 1s;
        margin-top: 30%;
      }

      @keyframes join {
        0% {
          opacity: 0;
          transform: translateY(10px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }

      /* Image */
      .img {
        border-radius: 30px;
        width: 100px;
      }

      /* Buttons */
      .btn {
        border-radius: 30px;
        margin: 10px;
        cursor: pointer;
        background: none;
        border: none;
      }

      .btn svg {
        width: 25px;
        height: 30px;
        padding: 3px;
      }

      .black {
        display: none;
      }

      /* Dark Mode */
      @media (prefers-color-scheme: dark) {
        body {
          background-color: #121212;
          color: #fff;
        }

        .black {
          display: block;
        }

        .light {
          display: none;
        }
      }

      /* Light Mode */
      @media (prefers-color-scheme: light) {
        body {
          background-color: #fff;
          color: #444;
        }

        .black {
          display: none;
        }

        .light {
          display: block;
        }
      }
    </style>
  </body>
</html>
