---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro"
---

<Layout title="Valerio Clemenzi">

 <Navbar />

 <div class="flex mt-24 mb-8">
  <div class="w-1/2 flex justify-center items-center">
    <div>
      <h1 class="text-text text-5xl font-bold">Hello, I'm <span class="underline">Valerio</span></h1>
      <p class="text-gray-500 mt-2 text-lg">I am a young Italian developer</p>

      <div class="flex mt-4">
        <button class="rounded-md p-2 pl-7 pr-7 bg-gyellow text-text mr-3 hover:underline font-semibold">
          Who i am?
        </button>
        <button class="rounded-md p-2 pl-7 pr-7 bg-gpurple text-text hover:underline font-semibold">
          What i do?
        </button>
      </div>
    </div>
  </div>

  <div class="w-1/2 flex justify-center items-center">
    <img src="/favicon.ico" class="rounded-full w-60 h-60 border-ggreen border-8" />
  </div>
 </div>

 <hr />
</Layout>
