<footer class="mt-4">
  Open-source website on Github protected by the MIT license. Inspired by
  <a href="https://gigantino.dev/" class="underline"> gigantino.dev</a>.
  <br />
   For encrypted messages: <a class="underline" href="/pgp.txt">PGP key here</a>
</footer>
