<header class="flex items-center justify-between">
  <h1 class="flex select-none items-center text-xl font-bold">
    <img src="/favicon.ico" class="mr-3 h-10 w-10 rounded-full transition hover:scale-110" />
    Valerio Clemenzi
  </h1>
  <div class="flex space-x-2">
    <a class="select-none text-lg hover:underline" href="https://github.com/vclemenzi">github</a>
    <a class="select-none text-lg hover:underline" href="mailto:me@vcz.me">email</a>
  </div>
</header>
