---

---

<div class="flex items-center">
  <div class="w-1/2 text-left">
    <h1 class="flex select-none items-center text-2xl font-bold">
      <img src="/favicon.ico" class="mr-3 h-10 w-10" /> Valerio Clemenzi
    </h1>
  </div>
  <div class="w-1/2 space-x-3 text-right">
    <a class="select-none text-lg hover:underline" href="https://github.com/vclemenzi"> github</a>
    <a class="select-none text-lg hover:underline" href="https://matrix.to/#/@thebigbot:matrix.org">
      matrix
    </a>
    <a class="select-none text-lg hover:underline" href="mailto:me@vcz.me"> email</a>
  </div>
</div>
