<nav class="flow-root border-b p-4 dark:border-b-text">
  <div class="float-left">
    <a href="/" class="text-lg hover:underline">vclemenzi.dev</a>
  </div>

  <div class="float-right">
    <a href="/#about" class="mr-2 text-lg hover:underline">about</a>
    <a href="/skills" class="mr-2 text-lg hover:underline">skills</a>
    <a href="/#links" class="text-lg hover:underline">links</a>
  </div>
</nav>
