<nav class="flow-root p-4 border-b">
  <div class="float-left">
    <a href="/" class="text-text text-lg hover:underline">vclemenzi.dev</a>
  </div>

  <div class="float-right">
    <a href="/#about" class="text-text text-lg hover:underline mr-2">about</a>
    <a href="/#work" class="text-text text-lg hover:underline mr-2">work</a>
    <a href="/#links" class="text-text text-lg hover:underline">links</a>
  </div>
</nav>
