<nav
  class="sticky top-0 flow-root w-full border-b bg-background p-4 px-10 py-5 dark:border-b-text dark:bg-background-dark"
>
  <div class="md:ml-24 md:mr-24 2xl:ml-96 2xl:mr-96">
    <div class="float-left">
      <a href="/" class="select-none text-lg hover:underline">vclemenzi.dev</a>
    </div>

    <div class="float-right select-none">
      <a href="/#about" class="mr-2 text-lg hover:underline">about</a>
      <a href="/skills" class="mr-2 text-lg hover:underline">skills</a>
      <a href="/#links" class="text-lg hover:underline">links</a>
    </div>
  </div>
</nav>
