---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import RepoCard from "../../components/RepoCard.astro";
---

<Layout title="Docker | Skill">
  <Navbar />
  <div class="mt-16 block p-1 md:flex md:justify-center">
    <div class="ml-2 mr-2 md:w-1/2">
      <h1 class="text-center text-3xl font-bold text-text md:text-left">The Docker Tool</h1>
      <p class="mb-4 mt-4">
        I started using Docker as an alternative to PM2 to save time on installing dependencies and
        reproducing the environment. I first used it to host SearXng and my personal instance.
      </p>
      <hr />
      <div class="mt-4 md:ml-8 md:mr-8">
        <RepoCard owner="vclemenzi" name="searxng" desc="SearXNG but with some modifications" />
      </div>
    </div>
    <div class="hidden w-1/3 justify-end md:flex">
      <img src="https://skillicons.dev/icons?i=docker" class="h-40 w-40" />
    </div>
  </div>
</Layout>
