---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
---

<Layout title="Github | Skill">
  <Navbar />
  <div class="mt-16 block p-1 md:flex md:justify-center">
    <div class="ml-2 mr-2 md:w-1/2">
      <h1 class="text-center text-3xl font-bold text-text md:text-left">Github</h1>
      <p class="mb-4 mt-4">
        I use GitHub as my Git host for my repositories. I really like it for its features like
        workflows, actions, codespaces, etc. I don't particularly like that it's not closed-source,
        and in fact, I also appreciate competitors like GitLab and SourceHut.
      </p>
      <hr />
      <div class="mt-4 md:ml-8 md:mr-8"></div>
    </div>
    <div class="hidden w-1/3 justify-end md:flex">
      <img src="https://skillicons.dev/icons?i=github" class="h-40 w-40" />
    </div>
  </div>
</Layout>
