---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Tool from "../../components/Tool.astro";

interface Tool {
  src: string;
  id: string;
}

const tools: Tool[] = [
  { src: "/tools/go.svg", id: "go" },
  { src: "/tools/rust.svg", id: "rust" },
  { src: "/tools/js.svg", id: "js" },
  { src: "/tools/ts.svg", id: "ts" },
  { src: "/tools/react.svg", id: "react" },
  { src: "/tools/nextjs.svg", id: "nextjs" },
  { src: "/tools/jwt.png", id: "jwt" },
  { src: "/tools/nodejs.svg", id: "nodejs" },
  { src: "/tools/redis.svg", id: "redis" },
  { src: "/tools/postgresql.svg", id: "postgresql" },
  { src: "/tools/mongodb.svg", id: "mongodb" },
  { src: "/tools/astro.svg", id: "astro" },
  { src: "/tools/tailwindcss.svg", id: "tailwindcss" },
  { src: "/tools/vite.svg", id: "vite" },
  { src: "/tools/neovim.svg", id: "neovim" },
  { src: "/tools/github.svg", id: "github" },
  { src: "/tools/linux.svg", id: "linux" },
  { src: "/tools/tauri.svg", id: "tauri" },
  { src: "/tools/docker.svg", id: "docker" },
  { src: "/tools/bash.svg", id: "bash" },
];
---

<Layout title="Skills">
  <Navbar />
  <div class="md:ml-24 md:mr-24 2xl:ml-96 2xl:mr-96">
    <h1 class="mb-4 mt-10 text-center text-4xl font-bold">Languages, Tools & Software</h1>
    <p class="mb-14 ml-3 mr-3 text-center">
      Every day, I try to learn something new to expand my skills, and currently, <br /> I have
      managed to get to know many tools, more or less in-depth.
    </p>
    <div class="grid grid-cols-2 place-items-center gap-4 md:grid-cols-5">
      {
        tools.map((y) => {
          return <Tool src={y.src} id={y.id} />;
        })
      }
    </div>

    <footer class="mt-5 text-center">
      The icons used are from <a href="https://skillicons.dev/">Skill Icons</a>
    </footer>
  </div>
</Layout>
