---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import RepoCard from "../../components/RepoCard.astro";
---

<Layout title="Redis | Skill">
  <Navbar />
  <div class="mt-16 block p-1 md:flex md:justify-center">
    <div class="ml-2 mr-2 md:w-1/2">
      <h1 class="text-center text-3xl font-bold text-text md:text-left">The Redis Database</h1>
      <p class="mb-4 mt-4">
        Redis is a database I learned as an alternative to MongoDB for its speed and integration
        with many programming languages. Currently, it's my choice when I need speed and storage for
        not too much data. I also know how to use the serverless version of Redis created by Vercel:
        KV.
      </p>
      <hr />
      <div class="mt-4 md:ml-8 md:mr-8">
        <RepoCard owner="vclemenzi" name="codeshare" desc="Share your code, fast and easy" />
      </div>
    </div>
    <div class="hidden w-1/3 justify-end md:flex">
      <img src="https://skillicons.dev/icons?i=redis" class="h-40 w-40" />
    </div>
  </div>
</Layout>
