---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import RepoCard from "../../components/RepoCard.astro";
---

<Layout title="Rust | Skill">
  <Navbar />
  <div class="mt-16 block p-1 md:flex md:justify-center">
    <div class="ml-2 mr-2 md:w-1/2">
      <h1 class="text-center text-3xl font-bold text-text md:text-left">
        The Rust Programming Language
      </h1>
      <p class="mb-4 mt-4">
        My first encounter with Rust dates back to 2022 when I initially used it as a language for
        creating low-level applications. It's my preferred language, especially for its
        capabilities. I began to acquaint myself with it through the free course by Traversy Media,
        which provided me with a general understanding. Currently, it's one of my top choices for
        creating applications.
      </p>
      <hr />
      <div class="mt-4 md:ml-8 md:mr-8">
        <RepoCard
          owner="vclemenzi"
          name="ach"
          desc="Arch User Repository Command Line Tool Helper "
        />
      </div>
    </div>
    <div class="hidden w-1/3 justify-end md:flex">
      <img src="https://skillicons.dev/icons?i=rust" class="h-40 w-40" />
    </div>
  </div>
</Layout>
