---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import RepoCard from "../../components/RepoCard.astro";
---

<Layout title="Tailwind CSS | Skill">
  <Navbar />
  <div class="mt-16 block p-1 md:flex md:justify-center">
    <div class="ml-2 mr-2 md:w-1/2">
      <h1 class="text-center text-3xl font-bold text-text md:text-left">
        The Tailwind Css framework
      </h1>
      <p class="mb-4 mt-4">
        Tailwind CSS is my first choice for styling my web apps. With its intuitive classes, I can
        create visually appealing styles in a straightforward manner. It's always my go-to for
        creating styles, especially because it manages to generate relatively small bundles.
      </p>
      <hr />
      <div class="mt-4 md:ml-8 md:mr-8">
        <RepoCard
          owner="vclemenzi"
          name="noscript-youtube"
          desc="No Script Youtube: Watch your favorite videos anonymously and without having to enable javascript in your browser "
        />

        <RepoCard owner="vclemenzi" name="codeshare" desc="Share your code, fast and easy" />
      </div>
    </div>
    <div class="hidden w-1/3 justify-end md:flex">
      <img src="https://skillicons.dev/icons?i=tailwindcss" class="h-40 w-40" />
    </div>
  </div>
</Layout>
