---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="I'm Valerio, and I'm a 14-year-old computer enthusiast" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <title>{title}</title>
  </head>
  <body>
    <main class="flex items-center justify-center p-2 pt-10">
      <div class="w-2/4">
        <slot />
      </div>
    </main>
  </body>
</html>

<style is:global>
  body {
    @apply bg-background text-text;
  }

  /* Stack Link */ 
  
  .slink {
    @apply bg-surface p-1 pl-2 pr-2 rounded-md;
  }
</style>
