---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="I'm Valerio, and I'm a 14-year-old computer enthusiast" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <title>{frontmatter.title || "Valerio Clemenzi"}</title>
  </head>
  <body class="bg-background text-white">
    <main class="flex items-center justify-center p-6 md:p-2 md:pt-10">
      <div class="space-y-5 md:w-2/4">
        <Header />
        <div class="prose prose-invert prose-h1:text-3xl">
          <slot />
        </div>
        <Footer />
      </div>
    </main>
  </body>
</html>
